<%- include('./includes/meta-head') %>

<body class="ltr main-body leftmenu dash_admin light-theme">
  <!-- Loader -->
  <%- include('includes/header-loader') %>
  <!-- End Loader -->

  <!-- Page -->
  <div class="page">
    <!-- Main Header-->
    <!-- Main Header-->
    <%- include('./includes/header') %>
    <!-- End Main Header-->
    <!-- End Main Header-->
	

			<!-- Main Content-->
			<div class="main-content side-content pt-0">

				<div class="main-container container-fluid">
					<div class="inner-body">

						<!-- Page Header -->
						<div class="page-header">
							<div>
								<h2 class="main-content-title tx-24 mg-b-5">Vendors List</h2>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Vendors </a></li>
									<li class="breadcrumb-item active" aria-current="page">Vendors List </li>
								</ol>
							</div>
							<div class="d-flex">
								<div class="justify-content-center">
									
									<a href="add-vendors.html" type="button" class="btn btn-primary my-2 btn-icon-text"> <i class="fe fe-plus me-2" ></i> Add Vendors</a>
								</div>
							</div>
						</div>
						<!-- End Page Header -->

					<div class="row">
					    	<div class="col-lg-12">
								<div class="card custom-card">
									<div class="card-body py-3">
									    <div class="row">
					    <div class="col-sm-6">
					        <input type="search" class="form-control form-control" placeholder="Search..." aria-controls="example1">
					    </div>
					     <div class="col-sm-2">
					        	<select class="form-control select2">
													<option label="Choose one">Gender</option>
													<option value="Firefox">Male</option>
													<option value="Chrome">Female</option>
												</select>
					    </div>
					     
					    <div class="col-sm-2">
					        	<select class="form-control select2">
													<option label="Choose one">Department</option>
													<option value="Firefox"></option>
												</select>
					    </div>
					    
					    <div class="col-sm-2">
					        	<select class="form-control select2">
													<option label="Choose one">Designation</option>
													<option value="Firefox"></option>
												</select>
					    </div>
					    
					</div>	</div></div>
	</div>	</div>
						<!-- Row -->
						<div class="row row-sm">
							<div class="col-lg-12">
								<div class="card custom-card">
									<div class="card-body">
									
										<div class="table-responsive">
											<table  class="table table-striped table-bordered text-nowrap mb-0" >
												<thead>
													<tr>
													    <th><label class="ckbox"><input type="checkbox" value="5"><span></span></label></th>
														<th>ID</th>
														<th>Photo</th>
														<th>Contact</th>
														<th>Company</th>
															<th>Assign Programs</th>
														<th>Actions</th>
													
													</tr>
												</thead>
												<tbody>
													<tr>
													    <td><label class="ckbox"><input type="checkbox" value="5"><span></span></label></td>
														<td>
                                                           VID: 000001
														<!--span class="plus_btn_" data-bs-target="#modaldemo-employee-form" data-bs-toggle="modal"></span-->
														</td>
														<td><img alt="avatar" class="rounded-circle me-3" src="../assets/img/users/4.jpg" style="width:60px"></td>
														<td>
														<p class="mb-0">Rahul Singh<br>
                                                        M: 8786467890<br>
                                                        E: anjali@verandahigered.com</p>
														</td>
														<td>
														    <p class="mb-0">
														        Webkype Info Services Pvt Ltd<br>
														        Plot No- C, Galaxy Blue Sapphire Plaza, <br>Hope Tower, TS: 1015-16, 03,<br> Greater Noida W Rd, Sector 4,<br> Uttar Pradesh 201309
														         </p>
														</td>
														<td>
                                                          <p class="mb-0"> 
                                                          Gyan Vihar University<br>
LPU<br>
 IIM- MBA Program
                                                          </p>
														</td>
													
														<td>
														    <div class="main-toggle-group-demo">
														   <div class="main-toggle main-toggle-success on">
												<span></span>
											</div></div>
														<a href="#" class="btn ripple btn-primary btn-xs w-100 mb-1 mt-1" data-bs-target="#map-program" data-bs-toggle="modal">Map Programs</a><br>
															<a href="add-vendors.html" class="btn ripple btn-info btn-xs w-100">Edit Vendor</a>
														
														</td>
														
													</tr>
														
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Row -->

					
					</div>
				</div>
			</div>
			<!-- End Main Content-->

			<!-- Main Footer-->
			<div class="main-footer text-center">
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span>Copyright © 2022 <a href="#">Lawyered</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->

			

		</div>
		<!-- End Page -->
		
		<!-- Large Modal -->
			<div class="modal" id="map-program">
				<div class="modal-dialog modal-md" role="document">
					<div class="modal-content modal-content-demo">
						<div class="modal-header">
							<h6 class="modal-title">Add Program</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
						</div>
						<div class="modal-body">
						<div class="row">
							     <div class="col-sm-12 form-group">
					           <label class="form-label">University</label>
					           <select class="form-control">
					               <option>Select</option>
					               <option> Gyan Vihar University</option>
					               </select>
					       </div>
					       <div class="col-sm-12 form-group">
					           <label class="form-label">University</label>
					           <select class="form-control">
					               <option>Select</option>
					               <option> LPU</option>
					               </select>
					       </div>
					        <div class="col-sm-12 form-group">
					           <label class="form-label">Program</label>
					           <select class="form-control">
					               <option>Select</option>
					               <option> IIM- MBA Program</option>
					               </select>
					       </div>
					      
					       <div class="col-lg-12"><button class="btn ripple btn-primary w-100" type="button">Save </button></div>
					       	
							</div>
					
					</div>
					
				</div>
			</div>
			<!--End Large Modal -->

		</div>
		<!-- End Page -->

			<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

		<!-- Jquery js-->
		<script src="../assets/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap js-->
		<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
		<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Internal Jquery-Ui js-->
		<script src="../assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

		<!-- Internal Jquery.maskedinput js-->
		<script src="../assets/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>

		<!-- Internal Specturm-colorpicker js-->
		<script src="../assets/plugins/spectrum-colorpicker/spectrum.js"></script>

		<!-- Internal Ion-rangeslider js-->
		<script src="../assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

		<!-- Select2 js-->
		<script src="../assets/plugins/select2/js/select2.min.js"></script>
		<script src="../assets/js/select2.js"></script>

		<!-- Internal Form-elements js-->
		<script src="../assets/js/form-elements.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Sidemenu js -->
		<script src="../assets/plugins/sidemenu/sidemenu.js" id="leftmenu"></script>

		<!--Bootstrap-datepicker js-->
		<script src="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

		<!-- Internal jquery-simple-datetimepicker js -->
		<script src="../assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

		<!-- COLOR PICKER JS -->
		<script src="../assets/plugins/pickr-master/pickr.es5.min.js"></script>
		<script src="../assets/js/picker.js"></script>

		<!-- Sidebar js -->
		<script src="../assets/plugins/sidebar/sidebar.js"></script>

		<!-- Color Theme js -->
		<script src="../assets/js/themeColors.js"></script>

		<!-- Sticky js -->
		<script src="../assets/js/sticky.js"></script>

		<!-- Custom js -->
		<script src="../assets/js/custom.js"></script>
		
	</body>
</html>